.fade {
  position: relative;
  height: 3.6em; /* exactly three lines */
}
.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
.read-more-button {
  padding: 0.5rem;
  background: linear-gradient(248deg, rgba(36,0,0,1) 0%, rgba(117,9,9,1) 0%, rgba(255,0,0,1) 100%);
  border-radius: 0.15rem;
  transition: background 1s ease-in;
  color: white;
  font-size: 0.9rem;
  &:hover {
    background: linear-gradient(248deg, rgba(255,0,0,1) 0%, rgba(36,0,0,1) 100%, rgba(117,9,9,1) 100%);
  }
}